<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.AlistApp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:name=".BaseApplication.BaseApplication"

        android:theme="@style/Theme.AlistApp">
        <activity
            android:name=".ui.subService.SubServicesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.services.ServicesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.splash.SplashScreen"
            android:theme="@style/Theme.Calculator"
            android:exported="true"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.RequestService.RequestServiceActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.transactionArchive.TransactionArchiveActivity"
            android:exported="true">


        </activity>

    </application>

</manifest>